<!DOCTYPE html>
<html>
<head><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Lingo Quiz</title>
<!--	external stylesheets       -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
<!--    dev stylesheets     -->
    <link rel="stylesheets" href="/public/stylesheets/style.css">
<!--        external scripts        -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!--        dev scripts     -->
	<script src="/public/javascripts/script.js"></script>
</head>
<body>
<!-- need to make schemas and classes for quizzes, quiz questions etc-->
</body>
</html>